bin/Debug/net47/Test.dll
bin/Debug/net47/Test.pdb
obj/project.assets.json
obj/project.nuget.cache
obj/ScalePlugin.csproj.nuget.dgspec.json
obj/ScalePlugin.csproj.nuget.g.props
obj/ScalePlugin.csproj.nuget.g.targets
obj/SecondDll.csproj.nuget.dgspec.json
obj/SecondDll.csproj.nuget.g.props
obj/SecondDll.csproj.nuget.g.targets
obj/Debug/net47/.NETFramework,Version=v4.7.AssemblyAttributes.cs
obj/Debug/net47/ScalePlugin.AssemblyInfo.cs
obj/Debug/net47/ScalePlugin.AssemblyInfoInputs.cache
obj/Debug/net47/ScalePlugin.assets.cache
obj/Debug/net47/ScalePlugin.csproj.AssemblyReference.cache
obj/Debug/net47/ScalePlugin.csproj.CoreCompileInputs.cache
obj/Debug/net47/ScalePlugin.csproj.FileListAbsolute.txt
obj/Debug/net47/ScalePlugin.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net47/SecondDll.AssemblyInfo.cs
obj/Debug/net47/SecondDll.AssemblyInfoInputs.cache
obj/Debug/net47/SecondDll.assets.cache
obj/Debug/net47/SecondDll.csproj.AssemblyReference.cache
obj/Debug/net47/SecondDll.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net47/Test.dll
obj/Debug/net47/Test.pdb
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/net8.0/SecondDll.AssemblyInfo.cs
obj/Debug/net8.0/SecondDll.AssemblyInfoInputs.cache
obj/Debug/net8.0/SecondDll.assets.cache
obj/Debug/net8.0/SecondDll.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/SecondDll.GlobalUsings.g.cs
obj/x64/Debug/net47/.NETFramework,Version=v4.7.AssemblyAttributes.cs
obj/x64/Debug/net47/ScalePlugin.AssemblyInfo.cs
obj/x64/Debug/net47/ScalePlugin.AssemblyInfoInputs.cache
obj/x64/Debug/net47/ScalePlugin.assets.cache
obj/x64/Debug/net47/ScalePlugin.csproj.AssemblyReference.cache
obj/x64/Debug/net47/ScalePlugin.GeneratedMSBuildEditorConfig.editorconfig
